*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
 display: flex;
 height: 100vh;
 margin: 5px;
 padding: 5px;
 gap: 10px;
 background-color: rgba(243, 241, 241, 0.874);
 border: 1px solid rgb(255, 120, 47);
}

.container .left-side{
  flex: 25%;
  height:96vh ;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(47, 116, 255);
}
.container .right-side{
  flex: 75%;
  height:96vh ;
  position: relative;
  background-color: white;
  border: 1px solid rgb(47, 116, 255);
}
.left-side input{
  margin: 15px;
  padding: 10px;
  width: 88%;
  border: none;
  background-color:rgb(240, 237, 237) ;
}
.left-side .conversation-list-ion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 5px 0px ;
  border: 1px solid rgb(255, 172, 47);
}
.left-side .left-conversation-list{
  margin-top: 5px;
  height: 70vh;
  border: 1px solid rgb(50, 255, 47);
}
.left-conversation-list li{
  /* display: flex; */
  line-height: 25px;
  list-style: none;  
  margin-top: 5px;
  background-color: rgb(236, 241, 241);
  /* border: 1px solid rgb(199, 14, 14); */
}
.left-conversation-list li .conversation-link{
  display: flex;
  text-decoration: none;
  color: black;
}
.conversation-link .pic{
  /* width: 20px; */
  flex: 20%;
  line-height: 20px;
  margin-right: 5px;
}
.conversation-link .pic img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.conversation-link .name-chat{
  flex: 80%;
  /* width: 20px; */
  line-height: 20px;
}
.chat-header{
  height: auto;
  margin: 15px 0px;
  padding: 10px;
  text-align: center;
  font-size:15;
  font-weight:600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  /* border: 1px solid rgb(199, 14, 14); */
}
.send-input{
  display: flex;
  gap: 5px;
  top:85vh;
  margin: 0px 10px 0px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
}
.send-input input{
  width: 50vw;
  margin: 0px 10px;
  border: none;
}
.send-input input:focus{
  outline: none;
}
.send-input .send-icon img{
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}
.send-input .attach-icon img{
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.send-input .drop-icon img{
  height: 12px;
  width: 12px;
  cursor: pointer;
  margin-top: 10px;
}
